
body {
    font-family: "Poppins", sans-serif;
    
}
.for-background-image{
    background: url("./Assets/Hero-bg.png");
    background-size: cover;
    height: 658px;
    background-repeat: no-repeat;
}
.btn{
    width: 129px;
    height: 47px;
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    border: none;
}
.btn:hover{
    background-color: #3730f7;
}

.hero-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
}
.hero-section > button{
    width: 165px;
}
.hero-section > div > p {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    display: block;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -6px 40px; 
}
.logo{
    font-size: 42px;
    font-weight:bolder;
    color: #4E47FF;
    cursor: pointer;
}

.banner-section{
    margin: 10em 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-right-side h3{
    font-size: 42px;
    font-weight: bold;
    margin: 23px 0;
}
.banner-right-side p{
    font-size: 24px;
    color: #8D8E98; 
    margin: 23px 0;
}
.banner-right-side > button {
    width: 210px;
}
.banner-left-side > img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.second-banner-section{
    background-color: #E5E7FF;
    margin: 0 40px;
    border-radius: 24px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.second-banner-section > div > p{
    font-size: 38px;
    font-weight: bold;
}
.second-banner-section-second-line{
    display: flex;
    justify-content: center;
    text-align: center;


}
.second-banner-section-second-line h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px 1em;
    
}
.second-banner-section-second-line p {
    margin: -15px 0;
    padding: 0;
    color: #8D8E98;
}
